<div class="cart-drawer__header">
  <h2 class="cart-drawer__heading caption-large text-body"> {{ 'sections.cart_drawer.title' | t }}</h2>


  <a href="javascript:void(0)" class="cart-icon-bubble drawer__icon drawer__icon--cart link focus-inset" id="cart-icon-bubble">
    {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
    <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
    {%- if cart != empty -%}
    <div class="cart-count-drawer">
      {%- if cart.item_count < 100 -%}
      <span aria-hidden="true">({{ cart.item_count }} items)</span>
      {%- endif -%}
      <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
    </div>
    {%- endif -%}
  </a>

</div>



cart-drawer-heading.liquid snippet
